<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input
      type="text"
      name="username"
      class="form-control"
      placeholder="username"
      [ngModel]="model.username"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      placeholder="password"
      [ngModel]="model.password"
    />
  </div>
  <button type="submit" class="btn btn-primary me-3">Register</button>
  <button type="button" class="btn btn-default" (click)="cancel()">
    Cancel
  </button>
</form>
